html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  background-color: unset;
}

* {
  box-sizing: border-box;
}

@media (max-width: 600px) {
  html {
    font-size: 14px;
  }
}

/* Stop iPhones from zooming in on Input Form Fields */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select,
  input {
    font-size: 16px !important;
  }
}
