.field {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.title {
  margin-right: 12px;
  flex: 0 0 10%;
  max-width: 10%;
}

.input {
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input.fill {
  width: 100%;
}
